:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  display: grid;
  grid-template-columns: 75% 25%;
}

#scoreContainer {
  text-align: right;
}

#gameContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}
.card {
  flex: 1 0 15%; 
  max-width: 30%;
  min-width: fit-content;
  box-sizing: border-box;
  margin-bottom: 10px;
}

img {
  border-radius: 15px;
}